:root{
    --bgColor: #FFFBE6;
    --txtColor: #2188BA;

    --azul700: #11445D;
    --azul200: #A6CFE3;
    --verde200: #A1E0C5;
}   

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
    font-style: normal;
}

body, html{  
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

    color: black;
    background-color: var(--bgColor);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    font: inherit;
}

button{
    border: none;
    background-color: none;
    background: none;
}

/* CUSTOM CLASSES */

.flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.bgImg{
    background-position: center;
    background-repeat: no-repeat;
}

.fw700{
    font-weight: 700;
}

.fw500{
    font-weight: 500;
}

.fw400{
    font-weight: 400;
}

.fs40{
    font-size: 40px;
}

.fs20{
    font-size: 20px;
}

.ffLT{
    font-family: 'Lobster Two';
}

