#header {
    width: 100%;
    padding: 15px 50px;

    flex-flow: row;
    justify-content: space-between;

    color: var(--txtColor);
    background-color: var(--bgColor);
}

#headerLogo {
    --headerLogoDim: 30px;
    /* width: var(--headerLogoDim); */
    /* height: var(--headerLogoDim); */
    width: 200px;
    height: 64px;
    /* background-color: aliceblue; */

    background-image: url('../img/logo.png');
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#headerMenu{
    flex-flow: row;
    justify-content: space-between;
}

#navbar {
    display: flex;
}

#navbar>ul {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    gap: 40px;
}

#navbar>ul>li {
    padding: 15px;

    border-radius: 15px;

    line-height: 24px;
    
    color: #2188BA;
    cursor: pointer;
}

#menuBtn {
    display: none;
    background-color: none;
    cursor: pointer;
}

#menuBtn > ion-icon{
    color: #11445D;
    font-size: 40px;
}

#headerWpp{
    padding: 7px 16px;

    flex-flow: row;
    gap: 10px;

    border: 1px solid #0C834F;
    border-radius: 50px;

    color: #E8F8F1;
    background: #15B26D;
}

#headerWpp>p{
    font-size: 16px;
    line-height: 24px;
    
    color: #E8F8F1;
}



