@media screen and (max-width: 1500px) {
    #navbar > ul{
        gap: 0px;
    }
}



@media screen and (max-width: 1300px) {
    
    #navbar{
        display: none;
        width: 100%;

        flex-flow: column;

        position: absolute;
        top: 60px;
        left: 0;

        background-color: black;
    }

    #navbar > ul{
        gap: 10px;
    }

    #navbar > ul > li{
        width: 100%;
    }

    #menuBtn{
        display: flex;
    }


    /* SOBRE NOS */
    #sobreNos {
        padding: 30px 40px;
    }

    :root{
        --rodaDeImagensWidth: 350px;
        --rodaDeImagensTranslate: 110px;
    }
} 

@media screen and (max-width: 1000px) {
    /* MAIN */
    :root{
        --mainSliderHeight: 100%;
    }
    #mainSlider > #mainSliderTxt > h3{
    
        font-weight: 700;
        font-size: 50px;
        line-height: 80px;
        font-family: 'Lobster Two', cursive;
    }
    
    #mainSlider > #mainSliderTxt > p{
        font-weight: 500;
        font-size: xx-large;
    }




}